$accent1: #bef459;
$accent2: #ff4e74;
$accent2weak: #ff8ebb;
$accent3: #5be7ff;
$accent4: #b310f0;
$accent5: #bb88ff;
$accent6: #bbe7ff;
$accent7: #ffff89;

$button1: #ff75a3;
$button2: #f4a182;

$button1dark: #4a1932;
$button2dark: #4d3229;

$bg: #151115;
$mainbg: #181925;
