@use "colours";

body {
  background-color: black;
}

main {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
  margin-bottom: 0;
}

h2 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-size: 2vw;
  margin-top: 1vw;
}

p {
  font-family: monospace;
  font-size: 1vw;
  margin-bottom: 0;
}

main article {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3vw;
}

section:nth-child(1) p:nth-child(1) b,
section:nth-child(2) p:nth-child(3) b {
  color: colours.$accent1;
}

section:nth-child(1) p:nth-child(2) b,
section:nth-child(2) p:nth-child(1) b {
  color: colours.$accent2;
}

section:nth-child(1) p:nth-child(3) b,
section:nth-child(2) p:nth-child(4) b {
  color: colours.$accent3;
}

section:nth-child(1) p:nth-child(4) b,
section:nth-child(2) p:nth-child(2) b {
  color: colours.$accent4;
}

.right {
  text-align: right;
  margin-top: 0;
}

a.button {
  background: linear-gradient(colours.$button1, colours.$button2);
  color: black;
  font-size: 2vw;
  border: 3px solid black;
  border-radius: 0.5vw;
  font-family: monospace;
  padding: 0.5vw 2vw;
  text-decoration: none;
}

a.button.steam {
  margin: 2vw;
}

a.button:hover {
  background: linear-gradient(colours.$button1dark, colours.$button2dark);
  border: 3px solid white;
  color: white;
}
