@use "colours";

body {
  background-color: colours.$bg;
}

h1,
h2,
h3 {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
}

h1 {
  text-align: center;
  font-style: normal;
  font-size: 200%;
  margin-top: 0;
  color: colours.$accent2;
}

h2 {
  font-size: 150%;
  color: colours.$accent1;
}

h3 {
  font-size: 120%;
  color: colours.$accent7;
}

@media screen and (min-width: 750px) {
  h1 {
    font-size: 300%;
  }

  h2 {
    font-size: 200%;
  }

  h3 {
    font-size: 150%;
  }
}

p {
  font-family: "Solway", serif;
  font-weight: 400;
}

body {
  font-size: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: colours.$accent2weak;
}

a:hover {
  color: colours.$accent2;
}

dfn {
  color: colours.$accent1;
}

em {
  color: colours.$accent6;
}

cite {
  color: colours.$accent5;
}

blockquote {
  font-weight: bold;
  font-style: italic;
}

.name {
  color: colours.$accent7;
}

main {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 1000px;
  background-color: colours.$mainbg;
  padding: 2em;
}

figure {
  margin: 0;
}

main figure img {
  max-width: 100%;
}

main figure.video {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

main figure.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
