{% component image(path: string, alt: string) %} {% set mdata =
get_image_metadata(path=path) %} {% set image = resize_image(path=path,
width=1000, op="fit_width", format="webp") %} {% set image2x =
resize_image(path=path, width=2000, op="fit_width", format="webp") %}
<figure>
  <img src="{{ image.url }}" srcset="{{ image2x.url }} 2x" alt="{{ alt }}" />
</figure>
{% endcomponent %} {% component youtube(id: string) %}
<figure class="video">
  <div>
    <iframe
      src="https://www.youtube-nocookie.com/embed/{{ id }}"
      title="YouTube video player"
      frameborder="0"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
        web-share;
      "
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
      loading="lazy"
    ></iframe>
  </div>
</figure>
{% endcomponent %} {% component toc(@page) %}
<nav>
  {% if page.toc %}
  <ul>
    {% for h1 in page.toc %}
    <li>
      <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li>
          <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
          {% if h2.children %}
          <ul>
            {% for h3 in h2.children %}
            <li>
              <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</nav>
{% endcomponent toc %}
