{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="/css/frontpage.css" />
{% endblock css %} {% block content %}
<canvas id="shader"></canvas>

<main>
  <h1>shaderland</h1>
  <h2>a creative-programming puzzle game</h2>
  <article>
    <section>
      <p>// wire up <b>nodes</b></p>
      <p>// create a world of <b>pixels</b></p>
      <p>// guide polygonal <b>creatures</b></p>
      <p>// learn <b>computer graphics</b></p>
    </section>
    <section>
      <p>// follow <b>l1l1th</b></p>
      <p>// a <b>hacker</b> // your <b>friend</b> // gone</p>
      <p>
        // what <b><em>happened</em></b> to her?
      </p>
      <div>
        <p>// the <b>ferret</b> will find out...</p>
        <p class="right">...won't she?</p>
      </div>
    </section>
  </article>
  <a
    class="button steam"
    href="https://store.steampowered.com/app/4487340/Shaderland/"
    >wishlist on steam</a
  >
  <a class="button devlog" href="/devlog/">devlogs</a>
</main>

<script src="js/splash.js"></script>
{% endblock content %}
